@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 3rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --animate-fade-in: fade-in 0.5s linear forwards;
  --animate-spin-slow: spin 4s linear infinite;
  --animate-spin-slower: spin 6s linear infinite;
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 4s linear infinite;
  --animate-spin-reverse-slower: spin-reverse 6s linear infinite;

  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;

  --color-gray-50: #f2f4f5;
  --color-gray-100: #e5e7ea;
  --color-gray-200: #ccd1d6;
  --color-gray-300: #b3bcc2;
  --color-gray-400: #7d838b;
  --color-gray-500: #545c64;
  --color-gray-600: #434a53;
  --color-gray-700: #2c333c;
  --color-gray-800: #1c222b;
  --color-gray-900: #0c111a;
  --color-gray-950: #05080e;
  --color-cyan-50: #fffbea;
  --color-cyan-100: #fdf2c1;
  --color-cyan-200: #fce69a;
  --color-cyan-300: #f9d66c;
  --color-cyan-400: #f6c646;
  --color-cyan-500: #f3b621;
  --color-cyan-600: #d59818;
  --color-cyan-700: #b87a10;
  --color-cyan-800: #9b5d0a;
  --color-cyan-900: #7b4506;
  --color-cyan-950: #402304;

  --font-sans: var(--font-inter);

  --container-2xl: 40rem;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}

@theme inline {
  --animate-marquee: marquee var(--marquee-duration) linear infinite;

  @keyframes marquee {
    100% {
      transform: translateY(-50%);
    }
  }
}
